body{
    background-image: url("../images/neige.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    margin-top: 0.1em!important;
    text-align: center;
    text-transform: uppercase;
    font-size: 5em!important;
    font-weight: bold!important;
    letter-spacing: 0.3em;
    color: rgb(245, 2, 19);
    
}
audio{
    display: none;
}
.photos{
    margin: 2em 12em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(237, 211, 213, 0.2);
    }
.sapin{
    border: 0.2em solid gold;
}
.img-fluid{
    margin: 0 0.5em;
}
.animaux{
     border-radius: 50%;   
}
.animation{
    display: flex;
    justify-content: center;
}
.gif{
    height: 150px;
    width: 200px;
}
.fa-snowflake{
    color: #EEE;
    position: absolute;
    top: -3em;
    animation: fall linear forwards;
}
@keyframes fall {
    to {
        transform : translateY(180vh);
    } 
    
}
@media only screen and (min-width: 600px) {
    @keyframes fall {
        to {
            transform : translateY(380vh);
        }
}

    
}